@using MVCAuthTest.Models;
@model List<DeptModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<h2>Index</h2>
<ul>
 @{ foreach (var m in Model){
     <li>@m.Name</li>
   }
 }
 </ul>
